@charset "UTF-8";
#container {
	width: 420px;
	margin: 10px auto;
}
fieldset{
	width: 400px;
	margin:10px;
}
label {
	width: 120px;
	display: inline-block;
}
button {
	height: 20px;
	padding: 0;
	line-height: 20px;
}
#buttons input{
	position: relative;
	top: -8px;
	width : 150px;
	margin-left: 10px;
}
input {
	width: 150px;
}