<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <filter>
  	<filter-name>Filter01</filter-name>
  	<filter-class>org.embed.filter.AuthenFilter</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>Filter01</filter-name>
  	<url-pattern>/p425/filter01_process.jsp</url-pattern>
  </filter-mapping>
  
  <filter>
  	<filter-name>Filter02</filter-name>
  	<filter-class>org.embed.filter.InitParamFilter</filter-class>
  	<init-param>
  	  <param-name>param1</param-name>
  	  <param-value>admin</param-value>
  	</init-param>
  	<init-param>
  	  <param-name>parma2</param-name>
  	  <param-value>1234</param-value>
  	</init-param>
  </filter>
  <filter-mapping>
  	<filter-name>Filter02</filter-name>
  	<url-pattern>/p429/filter02_process.jsp</url-pattern>
  </filter-mapping>
</web-app>